.message-left , .message-right{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 75%;
  }
  
  .message-left{
      align-self: flex-start;
  }
  .message-right {
      align-self: flex-end;
      background-color: aquamarine !important;
  }